.cases.name {
  font-style: italic;
}

.further.references.publication.info {
  font-style: italic;
}

.carouselButton{

    background-color: rgba(210, 210, 210, 0.3);
}

.carouselButton:hover{
    cursor: pointer;
    background-color: rgba(210, 210, 210, 0.9);
}


.journal.articles.journal.title {
    font-style: italic;
}


.journal.articles.essay.title {
    font-style: normal;
}

.newspapers.newspaper.title {
      font-style: italic;
}

.edited.books.title {
      font-style: italic;
}

.books.title {
      font-style: italic;
}
